<div ng-controller="Notely.Types.DeleteController as vm" ng-init="vm.init(dialogData)" class="umb-modalcolumn">

    <div class="umb-modalcolumn-header">
        <h1>Delete</h1>
    </div>

    <div class="umb-modalcolumn-body">
        <div class="umb-dialog umb-pane">
            <div class="umb-dialog-body">

                <p>This action will also remove all the notes of this type!</p>
                <p class="umb-abstract">Are you sure you want to delete type <strong>{{vm.model.type.title}}</strong>?</p>

                <div class="umb-pane btn-toolbar umb-btn-toolbar">
                    <div class="control-group umb-control-group">
                        <a href ng-click="vm.close()" class="btn btn-link">Cancel</a>
                        <a href ng-click="vm.deleteNoteType(vm.model.type.id)" class="btn btn-primary">OK</a>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

