<div ng-controller="Notely.PropertyEditors.AddController" ng-init="init()" class="notely-modal">

    <p>
        Add a new comment to the property <strong>{{model.property.label}}</strong>.
        You can choose between different types of comments.
    </p>

    <h5>Properties</h5>

    <div class="umb-control-group">
        <label class="control-label">
            Type
        </label>
        <div class="controls controls-row">
            <select name="notelyType" class="umb-editor umb-dropdown" ng-change="commentTypeChanged()" ng-model="model.comment.type"
                    ng-options="c.title for c in commentTypes track by c.id">
            </select>
        </div>
    </div>
    <div class="umb-control-group">
        <label class="control-label">
            Title
        </label>
        <div class="controls controls-row">
            <input name="notelyTitle" type="text" value="" ng-model="model.comment.title" placeholder="Title" class="umb-editor" />
        </div>
    </div>
    <div class="umb-control-group">
        <label class="control-label">
            Description
        </label>
        <div class="controls controls-row">
            <textarea name="notelyDescription" ng-model="model.comment.description" rows="6" class="umb-editor" placeholder="Enter short description"></textarea>
        </div>
    </div>
    <div class="umb-control-group">
        <label class="control-label">
            Assign to user
        </label>
        <div class="controls controls-row">
            <select name="notelyUser"
                    class="umb-editor umb-dropdown"
                    ng-hide="model.comment.assignedTo && model.comment.assigndTo.id > 0"
                    ng-model="model.comment.assignedTo"
                    ng-options="i.name for i in users | orderBy:'name' track by i.id"
                    ng-disabled="!model.comment.type.canAssign"></select>
            <div class="notely-clear-select" ng-show="model.comment.assignedTo && model.comment.assigndTo.id > 0">
                <span>{{model.comment.assignedTo.name}}</span>
                <i class="icon icon-delete" ng-click="resetAssigndTo()"></i>
            </div>
        </div>
    </div>
</div>