<form ng-controller="Notely.Backoffice.CleanupController as vm" ng-init="vm.init()" val-form-manager>
    <umb-panel>

        <umb-header tabs="vm.visibleTabs">
            <div class="span7">
                <div class="umb-headline-editor-wrapper">
                    <h1>Cleanup</h1>
                </div>
            </div>
            <div class="span5"></div>
        </umb-header>

        <umb-tab-view>
            <umb-tab id="tab1">

                <div class="umb-pane" ng-show="vm.loaded">

                    <div class="row-fluid">
                        <div class="span6">

                            <h3 class="bold">Cleanup notes</h3>

                            <div class="umb-healthcheck-help-text">
                                All notes that are not linked to an existing content node and an existing property will be removed from the database. <br /><br />
                                <strong>*This can happen when you remove a property from a document type.</strong><br />
                                <strong>*If you remove a content node the notes will automatically be removed.</strong>
                            </div>

                            <br />

                            <button type="button" class="umb-era-button -green" ng-click="vm.cleanup()">Cleanup notes</button>

                        </div>
                    </div>

                </div>

            </umb-tab>
        </umb-tab-view>

    </umb-panel>

    <!-- Overlay -->
    <umb-overlay ng-if="overlay.show"
                 model="overlay"
                 view="overlay.view"
                 position="right">
    </umb-overlay>
</form>