<form ng-controller="Notely.Backoffice.NotesController" ng-init="init()" val-form-manager class="notely-backoffice">
    <umb-panel>

        <umb-header tabs="visibleTabs">
            <div class="span7">
                <div class="umb-headline-editor-wrapper">
                    <h1>{{treeNode == 0 ? 'All notes' : 'My tasks'}}</h1>
                </div>
            </div>
            <div class="span5"></div>
        </umb-header>

        <umb-tab-view>
            <umb-tab id="tab1" ng-show="loaded">

                <div class="umb-pane">

                    <!-- Begin .notely-backoffice-options -->
                    <div class="notely-backoffice-options">

                        <div class="row">
                            <div class="span3">
                                <select name="notelyType" class="umb-editor umb-dropdown"
                                        ng-show="noteTypes"
                                        ng-model="options.type"
                                        ng-change="changedType()"
                                        ng-options="c.title for c in noteTypes track by c.id">
                                    <option value="">Select type</option>
                                </select>
                            </div>
                            <div class="span3">
                                <select name="notelyState" class="umb-editor umb-dropdown"
                                        ng-show="noteStates"
                                        ng-model="options.state"
                                        ng-disabled="options.type.id > 0 && !options.type.canAssign"
                                        ng-options="c.title for c in noteStates track by c.id">
                                    <option value="">Select state</option>
                                </select>
                            </div>
                            <div class="span6">
                                <div class="umb-editor umb-boolean">
                                    <input type="checkbox" value="" id="notelyHide" ng-model="options.hiding" />
                                    <label for="notelyHide">Hide content properties without notes</label>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="span6">
                                <button type="button" class="btn btn-success" ng-click="reset()">Reset</button>
                                <a href class="notely-reload" ng-click="reload()"><i class="icon icon-refresh"></i><span>Reload</span></a>
                            </div>
                        </div>

                    </div><!-- End .notely-backoffice-options -->

                    <a href class="notely-link" ng-if="!expanded" ng-click="toggleContentNodes()">Expand all content nodes</a>
                    <a href class="notely-link" ng-if="expanded" ng-click="toggleContentNodes()">Collapse all content nodes</a>

                    <!-- Begin .notely-backoffice-list -->
                    <div class="notely-backoffice-list">

                        <!-- Begin .notely-backoffice-item -->
                        <div ng-repeat="content in backOfficeDetails | orderByContentId track by $index"
                             class="notely-backoffice-item"
                             ng-class="{'notely-collapsed': !content.showDetails}"
                             ng-show="content.properties.length > 0">

                            <h4>
                                <i class="icon"
                                   ng-class="{'icon-navigation-right': !content.showDetails, 'icon-navigation-down': content.showDetails}"
                                   ng-click="expandContent($index)"></i>
                                {{content.contentName}}
                            </h4>

                            <div class="notely-backoffice-item_body" ng-show="content.showDetails">

                                <div class="notely-content-edit">
                                    <a href="#/content/content/edit/{{content.contentId}}"
                                       target="_blank" class="notely-link">Go to the edit page</a>
                                </div>

                                <div ng-repeat="property in content.properties" class="umb-property"
                                     ng-hide="filteredNotes.length == 0 && options.hiding">
                                    <ng-form name="propertyForm">
                                        <div class="control-group umb-control-group notely-control-group">
                                            <label class="control-label">
                                                {{property.name}} ({{filteredNotes.length}})
                                                <small>Property alias: '<strong>{{property.alias}}</strong>'</small>
                                            </label>
                                            <div class="controls">
                                                <div class="umb-property-editor">

                                                    <table class="notely-table notely-table-bordered"
                                                           ng-if="property.notes.length > 0">
                                                        <thead>
                                                            <tr>
                                                                <th class="notely-table-width-notetype"></th>
                                                                <th class="notely-table-width-notetitle">Title</th>
                                                                <th class="notely-table-width-notedesc">Description</th>
                                                                <th class="notely-table-width-notestate">State</th>
                                                                <th class="notely-table-width-noteactions"></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="note in $parent.filteredNotes = (property.notes | filterType: options.type | filterState: options.state)">
                                                                <td class="notely-table-width-notetype">
                                                                    <i title="{{note.type.title}}" class="icon" ng-class="note.type.icon"></i>
                                                                </td>
                                                                <td class="notely-table-width-notetitle">
                                                                    <a href ng-click="editNote(note)">{{note.title}}</a>
                                                                </td>
                                                                <td class="notely-table-width-notedesc"
                                                                    ng-bind-html-unsafe="renderDescription(note)"></td>
                                                                <td class="notely-table-width-notestate">
                                                                    <span ng-show="note.type.canAssign" class="label"
                                                                          ng-class="'label-' + note.state.title | lowercase">{{note.state.title}}</span>
                                                                </td>
                                                                <td class="notely-table-width-noteactions">
                                                                    <a href class="btn btn-default notely-btn-round"
                                                                       ng-click="editNote(note)"><i class="icon icon-edit"></i></a>
                                                                    <a href class="btn btn-default notely-btn-round"
                                                                       ng-click="deleteNote(note.id)"><i class="icon icon-trash"></i></a>
                                                                </td>
                                                            </tr>
                                                            <tr class="notely-default-row" ng-if="filteredNotes.length == 0">
                                                                <td colspan="5">No notes to display for this property based on the filtering.</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>

                                                    <div ng-if="treeNode == 0 && property.notes.length == 0" class="notely-backoffice-default">
                                                        No notes are added to the property <strong>{{property.name}}</strong>. Click the add button to add your first note.
                                                    </div>

                                                    <div ng-if="treeNode == 1 && property.notes.length == 0" class="notely-backoffice-default">
                                                        You have no assigned tasks to the property <strong>{{property.name}}</strong>.
                                                    </div>

                                                    <!-- Begin .notely-action -->
                                                    <div ng-if="treeNode == 0" class="notely-action">
                                                        <a href class="notely-btn-round"
                                                           ng-show="property.notes.length < property.limit"
                                                           ng-click="addNote(content.contentId, property)">
                                                            <i class="icon icon-add"></i>
                                                        </a>
                                                    </div><!-- End .notely-action -->

                                                </div>
                                            </div>
                                        </div>
                                    </ng-form>
                                </div>

                            </div>

                        </div><!-- End .notely-backoffice-item -->

                    </div><!-- End .notely-backoffice-list -->

                </div>

            </umb-tab>
        </umb-tab-view>

    </umb-panel>

    <!-- Overlay -->
    <umb-overlay ng-if="overlay.show"
                 model="overlay"
                 view="overlay.view"
                 position="right">
    </umb-overlay>
</form>