[class*=notely-] a:not(.notely-link) {
    text-decoration: none;
}

[class*=notely-] {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

.row > [class^=span] > .umb-editor {
    max-width: 86%;
}

.notely-control-group {
    padding-bottom: 20px;
}

.notely-control-group .control-label .btn {
    margin-top: 15px;
}

.notely-control-group .controls {
    margin-left: 240px;
}

.notely-property {
    margin-bottom: 15px;
}

.notely-nav {
    margin-bottom: 15px;
}

.notely-nav > li {
    display: inline-block;
    line-height: 28px;
    vertical-align: middle;
}

.notely-nav > li + li {
    margin-left: 10px;
}

.notely-nav > li > i {
    position: relative;
    top: 1px;
}

.notely-nav_expand {
    cursor: pointer;
}

.notely-nav .btn {
    padding: 3px 8px;
}

.notely-modal .umb-editor {
    width: 95%;
}

.notely-container .umb-overlay .umb-overlay__title {
    font-weight: 400;
}

.notely-comments {
    margin-bottom: 15px;
}

table.notely-table {
    width: 100%;
    margin-bottom: 20px;
}

table.notely-table > thead th {
    border-bottom: 1px solid #ccc;
    padding: 4px;
    cursor: pointer;
    font-weight: bold;
    background-repeat: no-repeat;
    background-position: center right;
    text-align: left;
}

table.notely-table > tbody td {
    padding: 8px 4px;
}

table.notely-table.notely-table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #fbfbfb;
}

table.notely-table tbody tr.notely-comments_done td.notely-comments_text {
    text-decoration: line-through;
}
table.notely-table.notely-table-bordered > tbody > tr > td {
    border-bottom: 1px solid #f1f1f1;
}

table.notely-table a:not(.btn) {
    color: #2e8aea;
}

table.notely-table .label {
    text-shadow: none;
    padding: 4px 6px;
    font-size: 12px;
}

table.notely-table .label-open {
    background-color: #D9D9D9;
}

table.notely-table .label-approved {
    background-color: #8CD0EC;
}

table.notely-table .label-pending {
    background-color: #F9AF82;
}

table.notely-table .label-done {
    background-color: #8ECF7F;
}

table.notely-table td.notely-table-width-commenttype {
    width: 10%;
}

table.notely-table td.notely-table-width-commenttitle {
    width: 20%;
}

table.notely-table td.notely-table-width-commentdesc {
    width: 40%;
}

table.notely-table td.notely-table-width-commentstate {
    width: 15%;
}

table.notely-table td.notely-table-width-commentactions {
    width: 15%;
    text-align: right;
}

.notely-bold {
    font-weight: bold;
}

.notely-clear-select i {
    color: #9d261d !important;
    cursor: pointer;
}

.notely-default {
    color: #b0b0b0;
    font-size: 12px;
}

.notely-tile {
    position: relative;
    margin: 5px 5px 10px 5px;
    border: 1px solid #dddddd;
    border-left: 0;
}

.notely-tile.notely-tile_root:after {
    content: "";
    background-color: #57b7e7;
    width: 5px;
    position: absolute;
    top: -1px;
    bottom: -1px;
    left: 0;
}

.notely-tile_content {
    padding: 15px;
}

.notely-btn-round {
    border-radius: 100%;
    padding: 0;
    width: 28px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    transition: all 100ms linear;
}

.notely-btn-round.btn-default {
    border-color: #dddddd;
    background: transparent;
}

.notely-btn-round.btn-default:hover,
.notely-btn-round.btn-default:focus {
    background: #2e8aea;
    border-color: #2e8aea;
    color: #ffffff;
}

.notely-backoffice-list {
    margin-top: 20px;
}

.notely-backoffice-item {
    margin-bottom: 15px;
    border: 2px solid transparent;
    transition: border 100ms linear;
}

.notely-backoffice-item > h4 {
    padding: 0 15px;
}

.notely-backoffice-item > h4 > i {
    cursor: pointer;
    margin-right: 10px;
}

.notely-backoffice-item_body .umb-property {
    margin: 20px 20px 0;
}

.notely-link {
    text-decoration: underline;
}

.notely-backoffice-item.notely-collapsed {
    border-color: #eeeeee;
}

.notely-backoffice-default {
    margin-bottom: 20px;
}

.notely-backoffice-options {
    padding: 20px;
    background: #f9f9f9;
    margin-bottom: 20px;
}

.notely-backoffice-options .row + .row {
    margin-top: 20px;
}

.notely-default-row {
    text-align: center;
    color: #ccc;
}

@media (max-width: 767px) {
    .notely-control-group .controls {
        margin-left: 0;
        margin-top: 10px;
    }
}
