<div class="umb-node-preview notely-note-preview">

    <i ng-if="icon" class="umb-node-preview__icon {{ icon }}"></i>

    <div class="umb-node-preview__content">
        <div class="umb-node-preview__name">{{ name }}</div>
        <div class="umb-node-preview__description">{{ description }}</div>
        <div class="notely-note-preview__labels">
            <span ng-show="canAssign" class="label" ng-class="'label-' + state | lowercase">{{state}}</span>
        </div>
    </div>

    <div class="umb-node-preview__actions">
        <a class="umb-node-preview__action" title="Edit" href="" ng-click="onEdit()"><localize key="general_edit">Edit</localize></a>
        <a class="umb-node-preview__action" title="Open" href="" ng-click="onOpen()">History</a>
        <a class="umb-node-preview__action umb-node-preview__action--red" title="Remove" href="" ng-click="onRemove()"><localize key="general_remove">Remove</localize></a>
    </div>

</div>