<div ng-controller="Notely.Notes.EditController" ng-init="init()" class="notely-modal">
   
    <p>
        Edit note of property <strong>{{model.note.contentProperty.propertyTypeAlias}}</strong>.
    </p>

    <h5>Properties</h5>

    <div class="umb-control-group">
        <label class="control-label">
            Type
        </label>
        <div class="controls controls-row">
            <select name="notelyType" class="umb-editor umb-dropdown" 
                    ng-change="noteTypeChanged()" 
                    ng-show="noteTypes"
                    ng-model="model.note.type"
                    ng-options="c.title for c in noteTypes track by c.id"></select>
        </div>
    </div>
    <div class="umb-control-group">
        <label class="control-label">
            Title
        </label>
        <div class="controls controls-row">
            <input name="notelyTitle" type="text" value="" 
                   ng-disabled="model.note.state == true" ng-model="model.note.title" 
                   placeholder="Name" class="umb-editor" />
        </div>
    </div>
    <div class="umb-control-group">
        <label class="control-label">
            Description
        </label>
        <div class="controls controls-row">
            <textarea name="notelyDescription" 
                      ng-disabled="model.note.state == true" 
                      ng-model="model.note.description" rows="6" 
                      class="umb-editor" placeholder="Enter short description"></textarea>
        </div>
    </div>
    <div class="umb-control-group" ng-show="model.note.type.canAssign">
        <label class="control-label">
            Assign to user
        </label>
        <div class="controls controls-row">
            <select name="notelyUser"
                    class="umb-editor umb-dropdown"
                    ng-hide="!users || (model.note.assignedTo && model.note.assignedTo.id >= 0)"
                    ng-model="model.note.assignedTo"
                    ng-options="i.name for i in users | orderBy:'name' track by i.id" "></select>
            <div class="notely-clear-select" ng-show="model.note.assignedTo && model.note.assignedTo.id >= 0">
                <span>{{model.note.assignedTo.name}}</span>
                <i class="icon icon-delete" ng-click="resetAssigndTo()"></i>
            </div>
        </div>
    </div>
    <div class="umb-control-group" ng-show="model.note.type.canAssign">
        <label class="control-label">
            Type
        </label>
        <div class="controls controls-row">
            <select name="notelyState" class="umb-editor umb-dropdown" 
                    ng-model="model.note.state"
                    ng-show="noteStates"
                    ng-options="c.title for c in noteStates track by c.id"></select>
        </div>
    </div>

</div>