<div ng-controller="Notely.Comments.DeleteController" ng-init="init(dialogData)" class="umb-modalcolumn">

    <div class="umb-modalcolumn-header">
        <h1>Delete</h1>
    </div>

    <div class="umb-modalcolumn-body">
        <div class="umb-dialog umb-pane">
            <div class="umb-dialog-body">
                <p class="umb-abstract">Are you sure you want to delete note <strong>{{model.comment.title}}</strong>?</p>

                <div class="umb-pane btn-toolbar umb-btn-toolbar">
                    <div class="control-group umb-control-group">
                        <a href ng-click="close()" class="btn btn-link">Cancel</a>
                        <a href ng-click="deleteComment(model.comment.id)" class="btn btn-primary">OK</a>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
