<div ng-controller="Notely.Backoffice.AllCommentsController" ng-init="init()">
    <umb-panel>
        <umb-header>
            <div class="span7">
                <div class="umb-headline-editor-wrapper">
                    <h1>All comments</h1>
                </div>
            </div>
            <div class="span5"></div>

        </umb-header>
        <div class="umb-panel-body" ng-show="loaded">

            <div class="umb-pane">

                <!-- Begin .umb-listview -->
                <div class="umb-list-view" ng-if="comments.length > 0">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <td>Type</td>
                                <td>Content Node</td>
                                <td>Property Alias</td>
                                <td>Title</td>
                                <td>Description</td>
                                <td>Assigned To</td>
                                <td>State</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="comment in comments track by $index">
                                <td>
                                    <i ng-if="comment.type == 0" class="icon icon-info"></i>
                                    <i ng-if="comment.type == 1" class="icon icon-pushpin"></i>
                                    <i ng-if="comment.type == 2" class="icon icon-brackets"></i>
                                    <i ng-if="comment.type == 3" class="icon icon-split-alt"></i>
                                </td>
                                <td>
                                    <a href="#/content/content/edit/{{comment.contentProperty.contentId}}">{{comment.contentProperty.contentId}}</a>
                                </td>
                                <td>
                                    {{comment.contentProperty.propertyTypeAlias}}
                                </td>
                                <td>{{comment.title}}</td>
                                <td>{{comment.description}}</td>
                                <td>{{comment.assignedTo ? comment.assignedTo.name : '-'}}</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div><!-- End .umb-listview -->

                <!-- Default message -->
                <div ng-if="comments.length == 0" class="umb-empty-state -center">
                    No comments have been added
                </div>

            </div>

        </div>
    </umb-panel>
</div>