<form ng-controller="Notely.Backoffice.CleanupController" ng-init="init()" val-form-manager>
    <umb-panel>

        <umb-header tabs="visibleTabs">
            <div class="span7">
                <div class="umb-headline-editor-wrapper">
                    <h1>Cleanup</h1>
                </div>
            </div>
            <div class="span5"></div>
        </umb-header>

        <umb-tab-view>
            <umb-tab id="tab1">

                <div class="umb-pane" ng-show="loaded">

                    <div class="row-fluid">
                        <div class="span6">

                            <h3>Cleanup notes</h3>

                            <p>
                                All notes that are not linked to an existing content node and an existing property will be removed from the database. <br /><br />
                                <strong>*This can happen when you remove a property from a document type.</strong><br />
                                <strong>*If you remove a content node the notes will automatically be removed.</strong>
                            </p>

                            <br /><br />

                            <button type="button" class="btn btn-danger" ng-click="cleanup()">Cleanup folder</button>

                        </div>
                    </div>

                </div>

            </umb-tab>
        </umb-tab-view>

    </umb-panel>

    <!-- Overlay -->
    <umb-overlay ng-if="overlay.show"
                 model="overlay"
                 view="overlay.view"
                 position="right">
    </umb-overlay>
</form>