<form ng-controller="Notely.Backoffice.CommentsController" ng-init="init()" val-form-manager class="notely-backoffice">
    <umb-panel>

        <umb-header tabs="visibleTabs">
            <div class="span7">
                <div class="umb-headline-editor-wrapper">
                    <h1>All Comments</h1>
                </div>
            </div>
            <div class="span5"></div>
        </umb-header>

        <umb-tab-view>
            <umb-tab id="tab1" ng-show="loaded" class="notely-bg-gray">

                <div class="notely-backoffice_flex">

                    <!-- Begin .notely-backoffice-chart -->
                    <div class="notely-backoffice-chart">
                        <div class="umb-pane">
                            <div class="row">

                                <div class="span3">
                                    <h4>All Tasks</h4>
                                    <canvas id="chAllTasks" class="chart chart-doughnut" chart-data="data" chart-labels="labels"></canvas>
                                </div>

                                <div class="span3">
                                    <h4>Content Tasks</h4>
                                    <canvas id="chContentTasks" class="chart chart-doughnut" chart-data="data" chart-labels="labels"></canvas>
                                </div>

                                <div class="span3">
                                    <h4>Type Tasks</h4>
                                    <canvas id="chTypeTasks" class="chart chart-doughnut" chart-data="data" chart-labels="labels"></canvas>
                                </div>

                                <div class="span3">
                                    <h4>My Tasks</h4>
                                    <canvas id="chMyTasks" class="chart chart-doughnut" chart-data="data" chart-labels="labels"></canvas>
                                </div>

                            </div>
                        </div>
                    </div><!-- End .notely-backoffice-chart -->

                    <!-- Begin .notely-manager-container -->
                    <div class="notely-backoffice-container">
                        <div class="notely-backoffice-table_header">
                            <table>
                                <thead>
                                    <tr>
                                        <th class="notely-backoffice-table_cell"></th>
                                        <th class="notely-backoffice-table_cell">Open</th>
                                        <th class="notely-backoffice-table_cell">Closed</th>
                                        <th class="notely-backoffice-table_cell">Info</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="notely-backoffice-table_body">
                            <table>
                                <tbody>
                                    <tr ng-repeat="comment in comments track by $index">
                                        <td class="notely-backoffice-table_cell">

                                            <div class="notely-tile notely-tile_root">
                                                <div class="notely-tile_content">
                                                    <a href="#/content/content/edit/{{comment.contentProperty.contentId}}">{{comment.contentProperty.contentName}}</a>
                                                </div>
                                            </div>

                                        </td>
                                        <td class="notely-backoffice-table_cell notely-backoffice-table_cell_value"></td>
                                        <td class="notely-backoffice-table_cell notely-backoffice-table_cell_value"></td>
                                        <td class="notely-backoffice-table_cell notely-backoffice-table_cell_value"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div><!-- End .notely-manager-container -->


                </div>


                <!--<div class="umb-pane">

                    <div class="umb-list-view" ng-if="comments.length > 0">
                        <table class="notely-table">
                            <thead>
                                <tr>
                                    <th>Type</th>
                                    <th>Content Node</th>
                                    <th>Property Alias</th>
                                    <th>Title</th>
                                    <th>Description</th>
                                    <th>Assigned To</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="comment in comments track by $index" ng-class="{'notely-comments_done': comment.state == true}">
                                    <td>
                                        <i ng-if="comment.type == 0" class="icon icon-info"></i>
                                        <i ng-if="comment.type == 1" class="icon icon-pushpin"></i>
                                        <i ng-if="comment.type == 2" class="icon icon-brackets"></i>
                                        <i ng-if="comment.type == 3" class="icon icon-split-alt"></i>
                                    </td>
                                    <td class="notely-comments_text">
                                        <a href="#/content/content/edit/{{comment.contentProperty.contentId}}">{{comment.contentProperty.contentName}}</a>
                                    </td>
                                    <td class="notely-comments_text">
                                        {{comment.contentProperty.propertyTypeAlias}}
                                    </td>
                                    <td class="notely-comments_text"><a href ng-click="editComment(comment)">{{comment.title}}</a></td>
                                    <td class="notely-comments_text">{{comment.description}}</td>
                                    <td class="notely-comments_text">{{comment.assignedTo ? comment.assignedTo.name : '-'}}</td>
                                    <td align="right">
                                        <a href class="btn btn-success" ng-if="comment.type > 0 && comment.state == false" ng-click="taskComplete(comment.id)"><i class="icon icon-check"></i> Done</a>
                                        <a href class="btn btn-default" ng-click="deleteComment(comment.id)"><i class="icon icon-trash"></i> Delete</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div ng-if="comments.length == 0" class="umb-empty-state -center">
                        No comments have been added
                    </div>

                </div>-->

            </umb-tab>
        </umb-tab-view>

    </umb-panel>

    <!-- Overlay -->
    <umb-overlay ng-if="overlay.show"
                 model="overlay"
                 view="overlay.view"
                 position="right">
    </umb-overlay>
</form>