<div ng-controller="Notely.Backoffice.MyCommentsController">
    <umb-panel>
        <umb-header>
            <div class="span7">
                <div class="umb-headline-editor-wrapper">
                    <h1>My comments</h1>
                </div>
            </div>
            <div class="span5"></div>

        </umb-header>
        <div class="umb-panel-body">

            <div class="umb-pane">

                <!-- Begin .umb-listview -->
                <div class="umb-list-view" ng-if="comments.length > 0">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <td>Type</td>
                                <td>Content Node</td>
                                <td>Property Alias</td>
                                <td>Title</td>
                                <td>Description</td>
                                <td>Assigned To</td>
                                <td>State</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repat="comment in comments"></tr>
                        </tbody>
                    </table>
                </div><!-- End .umb-listview -->

                <!-- Default message -->
                <div ng-if="comments.length == 0" class="umb-empty-state -center">
                    No comments have been added
                </div>

            </div>

        </div>
    </umb-panel>
</div>