<form ng-controller="Notely.Backoffice.SettingsController as vm" ng-init="vm.init()" val-form-manager>
    <umb-panel>

        <umb-header tabs="vm.visibleTabs">
            <div class="span7">
                <div class="umb-headline-editor-wrapper">
                    <h1>Settings</h1>
                </div>
            </div>
            <div class="span5"></div>
        </umb-header>

        <umb-tab-view>
            <umb-tab id="tab1">

                <div class="umb-pane" ng-show="vm.loaded">

                    <div class="umb-property">
                        <ng-form name="propertyForm">

                            <div class="control-group umb-control-group">
                                <umb-box class="notely-notes">
                                    <umb-box-header title="Note Types"></umb-box-header>
                                    <umb-box-content>
                                        <div>
                                            <notely-note-preview ng-repeat="type in vm.noteTypes track by $index"
                                                                 name="type.title"
                                                                 can-assign="type.canAssign"
                                                                 icon="type.icon"
                                                                 allow-edit="true"
                                                                 allow-remove="true"
                                                                 on-edit="vm.editType(type)"
                                                                 on-remove="vm.deleteType(type.id)">
                                            </notely-note-preview>
                                        </div>
                                    </umb-box-content>
                                </umb-box>

                                <!-- Begin .controls -->
                                <div class="controls controls-row controls__no-margin">
                                    <a href="" class="umb-node-preview-add" style="max-width: 100%"
                                       ng-click="vm.addType()" prevent-default>
                                        <localize key="general_add" class="ng-isolate-scope ng-scope">Add</localize>
                                    </a>
                                </div><!-- End .controls -->
                            </div>
                            
                        </ng-form>
                    </div>

                    <div class="umb-property">
                        <ng-form name="propertyForm">

                            <div class="control-group umb-control-group">
                                <umb-box class="notely-notes">
                                    <umb-box-header title="Note States"></umb-box-header>
                                    <umb-box-content>
                                        <div>
                                            <notely-note-preview ng-repeat="state in vm.noteStates track by $index"
                                                                 name="state.title"
                                                                 state="state.title"
                                                                 can-assign="true">
                                            </notely-note-preview>
                                        </div>
                                    </umb-box-content>
                                </umb-box>
                            </div>

                        </ng-form>
                    </div>

                </div>

            </umb-tab>
        </umb-tab-view>

    </umb-panel>

    <!-- Overlay -->
    <umb-overlay ng-if="vm.overlay.show"
                 model="vm.overlay"
                 view="vm.overlay.view"
                 position="right">
    </umb-overlay>

</form>