<div ng-controller="Notely.PropertyEditors.MainController as vm" ng-init="vm.init()" class="notely-container" ng-show="vm.loaded">

    <div ng-show="vm.property.view" class="notely-property" ng-include="vm.property.view"></div>

    <div class="notely-default" ng-show="vm.showDefault">
        To add notes to this property you first need to
        <strong>add a value and hit save</strong> or hit <strong>Save and Publish</strong>
        and refresh the page.
    </div>

    <div class="notely-item" ng-show="vm.hasProperty">
        <!-- Begin .notely-nav -->
        <ul class="notely-nav">
            <li class="notely-nav_expand" ng-click="vm.expand()">
                <i class="icon" 
                   ng-class="{'icon-navigation-right': vm.notes.length > 0 && !vm.showNotes, 'icon-navigation-down': vm.notes.length > 0 && vm.showNotes}">
                </i>
                Notely notes: <strong>{{vm.notes.length}}</strong>
            </li>
        </ul><!-- End .notely-nav -->

        <!-- Begin .notely-notes -->
        <umb-box class="notely-notes" ng-show="vm.showNotes && vm.notes.length > 0">
            <umb-box-header title="Notes"></umb-box-header>
            <umb-box-content>
                <div >
                    <notely-note-preview ng-repeat="note in vm.notes track by $index"
                        name="note.title"
                        assign-to="vm.renderDescription(note)"
                        state="note.state.title"
                        can-assign="note.type.canAssign"
                        priority="note.priority"
                        icon="note.type.icon"
                        on-edit="vm.editNote(note)"
                        on-remove="vm.deleteNote(note.id)"
                        on-open="vm.viewComments(note.id)">
                    </notely-note-preview>
                </div>
            </umb-box-content>
        </umb-box><!-- End .notely-notes -->

        <!-- Begin .controls -->
        <div class="controls controls-row">
            <a href="" class="umb-node-preview-add" style="max-width: 100%" 
               ng-click="vm.addNote()" ng-show="vm.notes.length < model.config.limit" prevent-default>
                <localize key="general_add" class="ng-isolate-scope ng-scope">Add</localize>
            </a>
        </div><!-- End .controls -->

        <!-- Begin .notely-action -->
        <!--<div class="notely-action">
            <a href="" class="notely-btn-round"
               ng-show="vm.notes.length < model.config.limit"
               ng-click="vm.addNote()">
                <i class="icon icon-add"></i>
            </a>
        </div>--><!-- End .notely-action -->

    </div>

    <!-- Overlay -->
    <umb-overlay ng-if="vm.overlay.show"
                 model="vm.overlay"
                 view="vm.overlay.view"
                 position="right">
    </umb-overlay>

</div>