<div ng-controller="Notely.PropertyEditors.MainController" ng-init="init()" class="notely-container" ng-show="loaded">

    <div ng-show="property.view" class="notely-property" ng-include="property.view"></div>

    <div class="notely-default" ng-show="showDefault">
        To add notes to this property you first need to <strong>add a value and hit save</strong> or hit <strong>Save and Publish</strong> and refresh the page.
    </div>

    <div class="notely-item" ng-show="hasProperty">
        <!-- Begin .notely-nav -->
        <ul class="notely-nav">
            <li class="notely-nav_expand" ng-click="expand()">
                <i class="icon" ng-class="{'icon-navigation-right': comments.length > 0 && !showComments, 'icon-navigation-down': comments.length > 0 && showComments}"></i>
                {{comments.length}} notes
            </li>
            <li>
                <button type="button" class="btn btn-success" ng-show="comments.length < model.config.limit" ng-click="addComment()"><i class="icon icon-add"></i></button>
            </li>
        </ul><!-- End .notely-nav -->
        <!-- Begin .notely-comments -->
        <div class="notely-comments" ng-show="showComments && comments.length > 0">

            <table class="notely-table" ng-if="comments.length > 0">
                <thead>
                    <tr>
                        <th class="notely-table-width-commenttype"></th>
                        <th class="notely-table-width-commenttitle">Title</th>
                        <th class="notely-table-width-commentdesc">Description</th>
                        <th class="notely-table-width-commentstate">State</th>
                        <th class="notely-table-width-commentactions"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="comment in comments track by $index">
                        <td class="notely-table-width-commenttype">
                            <i title="{{comment.type.title}}" class="icon" ng-class="comment.type.icon"></i>
                        </td>
                        <td class="notely-table-width-commenttitle"><a href ng-click="editComment(comment)">{{comment.title}}</a></td>
                        <td class="notely-table-width-commentdesc" ng-bind-html-unsafe="renderDescription(comment)"></td>
                        <td class="notely-table-width-commentstate"><span ng-show="comment.type.canAssign" class="label" ng-class="'label-' + comment.state.title | lowercase">{{comment.state.title}}</span></td>
                        <td class="notely-table-width-commentactions">
                            <a href class="btn btn-default notely-btn-round" ng-click="editComment(comment)"><i class="icon icon-edit"></i></a>
                            <a href class="btn btn-default notely-btn-round" ng-click="deleteComment(comment.id)"><i class="icon icon-delete"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div><!-- End .notely-comments -->
    </div>

    <!-- Overlay -->
    <umb-overlay ng-if="overlay.show"
                 model="overlay"
                 view="overlay.view"
                 position="right">
    </umb-overlay>

</div>