[class*=notely-] a:not(.notely-link) {
    text-decoration: none;
}

[class*=notely-] {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

.row > [class^=span] > .umb-editor {
    max-width: 86%;
}

.notely-control-group {
    padding-bottom: 20px;
}

    .notely-control-group .control-label .btn {
        margin-top: 15px;
    }

    .notely-control-group .controls {
        margin-left: 240px;
    }

.notely-property {
    margin-bottom: 15px;
}

.notely-nav {
    margin-bottom: 15px;
}

    .notely-nav > li {
        display: inline-block;
        vertical-align: middle;
    }

        .notely-nav > li + li {
            margin-left: 10px;
        }

        .notely-nav > li > i {
            position: relative;
            top: 1px;
        }

.notely-action {
    text-align: center;
    border-top: 1px dashed #e0e0e0;
    padding: 15px 0;
}

.notely-container .controls {
    margin-left: 0 !important;
}

.notely-nav_expand {
    cursor: pointer;
}

.notely-modal .umb-editor {
    width: 95%;
}

.notely-container .umb-overlay .umb-overlay__title,
.notely-backoffice .umb-overlay .umb-overlay__title {
    font-weight: 400;
}

.notely-notes {
    margin-bottom: 15px;
}

.notely-notes .umb-node-preview {
    max-width: 100%;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.notely-notes .umb-node-preview:last-child {
    padding-bottom: 5px;
    margin-bottom: 0;
}

table.notely-table {
    width: 100%;
    margin-bottom: 20px;
}

    table.notely-table > thead th {
        border-bottom: 1px solid #ccc;
        padding: 4px;
        cursor: pointer;
        font-weight: bold;
        background-repeat: no-repeat;
        background-position: center right;
        text-align: left;
    }

    table.notely-table > tbody td {
        padding: 8px 4px;
    }

    table.notely-table.notely-table-striped > tbody > tr:nth-of-type(odd) {
        background-color: #fbfbfb;
    }

    table.notely-table.notely-table-bordered > tbody > tr > td {
        border-bottom: 1px solid #f1f1f1;
    }

    table.notely-table a:not(.notely-btn-round) {
        color: #2e8aea;
    }

    table.notely-table .label {
        text-shadow: none;
        padding: 4px 6px;
        font-size: 12px;
    }

    table.notely-table .label-open {
        background-color: #D9D9D9;
    }

    table.notely-table .label-approved {
        background-color: #8CD0EC;
    }

    table.notely-table .label-pending {
        background-color: #F9AF82;
    }

    table.notely-table .label-done {
        background-color: #8ECF7F;
    }

    table.notely-table td.notely-table-width-notetype {
        width: 10%;
    }

    table.notely-table td.notely-table-width-notetitle {
        width: 20%;
    }

    table.notely-table td.notely-table-width-notedesc {
        width: 40%;
    }

    table.notely-table td.notely-table-width-notestate {
        width: 15%;
    }

    table.notely-table td.notely-table-width-noteactions {
        width: 15%;
        text-align: right;
    }

.notely-note-preview__labels {
    margin-top: 5px;
}

.notely-note-preview .label {
    text-shadow: none;
    padding: 4px 6px 3px;
    font-size: 11px;
}

.notely-note-preview .label-open {
    background-color: #D9D9D9;
}

.notely-note-preview .label-approved {
    background-color: #8CD0EC;
}

.notely-note-preview .label-pending {
    background-color: #F9AF82;
}

.notely-note-preview .label-done {
    background-color: #8ECF7F;
}

.notely-note-preview .label-low {
    background-color: #8CD0EC;
}

.notely-note-preview .label-medium {
    background-color: #F9AF82;
}

.notely-note-preview .label-high {
    background-color: #fb7474;
}

.notely-bold {
    font-weight: bold;
}

.notely-clear-select i {
    color: #9d261d !important;
    cursor: pointer;
}

.notely-default {
    color: #b0b0b0;
    font-size: 12px;
}

.notely-tile {
    position: relative;
    margin: 5px 5px 10px 5px;
    border: 1px solid #dddddd;
    border-left: 0;
}

    .notely-tile.notely-tile_root:after {
        content: "";
        background-color: #57b7e7;
        width: 5px;
        position: absolute;
        top: -1px;
        bottom: -1px;
        left: 0;
    }

.notely-tile_content {
    padding: 15px;
}

.notely-btn-round {
    display: inline-block;
    padding: 4px 6px;
    margin: 2px;
    cursor: pointer;
    color: #000;
    background: #fff;
    border: 1px solid #b6b6b6;
    border-radius: 100%;
    text-decoration: none !important;
    text-align: center;
    transition: all 100ms linear;
}

    .notely-btn-round:hover,
    .notely-btn-round:focus {
        background: #2e8aea;
        border-color: #2e8aea;
    }

    .notely-btn-round .icon {
        display: block;
        font-size: 16px !important;
        color: #5f5f5f;
        transition: color 100ms linear;
    }

    .notely-btn-round:hover .icon,
    .notely-btn-round:focus .icon {
        color: #fff;
    }

.notely-backoffice-list {
    margin-top: 20px;
}

.notely-backoffice-list .pagination {
    text-align: center;
}

.notely-backoffice-list .pagination ul {
    box-shadow: none;
}

.notely-backoffice-list .pagination > ul > li > a {
    border: 0;
    color: #d9d9d9;
}

.notely-backoffice-list .pagination ul > .active > a {
    color: #000;
    background-color: #fff;
}

.notely-backoffice-list .pagination ul > li > a:hover, 
.notely-backoffice-list .pagination ul > li > a:focus {
    background-color: #fff;
    color: #000;
}

.notely-backoffice-list .pagination ul > .disabled > span, 
.notely-backoffice-list .pagination ul > .disabled > a, 
.notely-backoffice-list .pagination ul > .disabled > a:hover, 
.notely-backoffice-list .pagination ul > .disabled > a:focus {
    color: #d9d9d9;
    cursor: default;
    background-color: transparent;
}

.notely-backoffice-item {
    margin-bottom: 15px;
    border: 2px solid transparent;
    transition: border 100ms linear;
}

    .notely-backoffice-item > h4 {
        padding: 0 15px;
    }

        .notely-backoffice-item > h4 > i {
            cursor: pointer;
            margin-right: 10px;
        }

.notely-backoffice-item_body .umb-property {
    margin: 20px 20px 0;
}

.notely-content-edit {
    margin: 20px 20px 0;
}

.notely-link {
    text-decoration: underline;
}

    .notely-link:hover,
    .notely-link:focus {
        text-decoration: none;
    }

.notely-backoffice-item.notely-collapsed {
    border-color: #eeeeee;
}

.notely-backoffice-default {
    margin-bottom: 20px;
}

.notely-backoffice-options {
    padding: 20px;
    background: #f9f9f9;
    margin-bottom: 20px;
}

    .notely-backoffice-options .row + .row {
        margin-top: 20px;
    }

.notely-default-row {
    text-align: center;
    color: #ccc;
}

.notely-reload {
    padding: 5px 12px;
    line-height: 20px;
    font-size: 14px;
    vertical-align: middle;
    display: inline-block;
    margin-left: 10px;
}

    .notely-reload > span {
        padding-top: 2px;
        padding-left: 8px;
    }

    .notely-reload > i {
        font-size: 20px;
        display: inline-block;
        margin-top: -2px;
        vertical-align: middle;
    }

.notely-controls-icon {
    display: -ms-flexbox;
    display: flex;
    height: 55px;
    cursor: pointer;
    background: #fff;
    border: 1px solid #ececec;
    animation: fadeIn .5s;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex: 0 0 55px;
    flex: 0 0 55px;
    width: 55px;
}

    .notely-controls-icon .icon {
        font-size: 35px;
    }

.notely-shortcuts {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-left: -10px;
    margin-right: -10px;
}

.notely-shortcut-wrap {
    display: block;
    padding: 10px;
    flex: 0 0 auto;
    flex-basis: 20%;
    max-width: 20%;
}

.notely-shortcut {
    display: flex;
    height: 100%;
    padding: 15px 10px;
    text-align: center;
    background: #f8f8f8;
    border: 2px solid transparent;
    border-radius: 3px;
    box-sizing: border-box;
    flex-wrap: wrap;
    flex-direction: column;
    transition: border 100ms linear;
}

    .notely-shortcut:hover,
    .notely-shortcut:focus {
        border-color: #2e8aea;
    }

.notely-shortcut_title {
    font-weight: 700;
}

.notely-comments {
    margin-top: 20px;
}

.notely-comments_item {
    display: block;
    clear: both;
    border-bottom: 1px dashed #e0e0e0;
    padding: 10px 0;
    position: relative;
}

.notely-comment_img {
    width: 40px;
    height: 40px;
    float: left;
    margin-right: 15px;
    margin-top: 5px;
    margin-left: 5px;
}

.notely-comment_img > img {
    border-radius: 30px;
    box-shadow: 2px 2px 5px -2px #999;
    width: 40px;
    height: 40px;
}

.notely-comment_body {
    margin-left: 60px;
    padding-right: 5px;
}

.notely-comment_body > span {
    font-size: 12px;
    font-style: italic;
    margin-bottom: 5px;
    display: inline-block;
}

.notely-dialog .umb-dialog-body {
    bottom: 120px;
}

.notely-dialog .umb-dialog-footer {
    height: 90px;
}

.notely-comments_item .notely-delete {
    color: #ccc;
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0;
    transition: opacity 100ms linear;
}

.notely-comments_item:hover .notely-delete {
    opacity: 0.9;
}

.notely-comments_item.notely-selected {
    background-color: #f9f9f9;
}

.notely-color-warning {
    color: #F9AF82;
}

.notely-color-danger {
    color: #9d261d;
}

@media (max-width: 767px) {
    .notely-control-group .controls {
        margin-left: 0;
        margin-top: 10px;
    }

    .notely-shortcut-wrap {
        flex-basis: 40%;
        max-width: 40%;
    }
}
