[class*=notely-] a {
    text-decoration: none;
}

[class*=notely-] {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

.notely-control-group {
    padding-bottom: 20px;
}

.notely-control-group .controls {
    margin-left: 240px;
}

.notely-property {
    margin-bottom: 15px;
}

.notely-nav {
    margin-bottom: 15px;
}

.notely-nav > li {
    display: inline-block;
    line-height: 28px;
    vertical-align: middle;
}

.notely-nav > li + li {
    margin-left: 10px;
}

.notely-nav > li > i {
    position: relative;
    top: 1px;
}

.notely-nav_expand {
    cursor: pointer;
}

.notely-nav .btn {
    padding: 3px 8px;
}

.notely-modal .umb-editor {
    width: 95%;
}

.notely-container .umb-overlay .umb-overlay__title {
    font-weight: 400;
}

.notely-comments {
    margin-bottom: 15px;
}

table.notely-table {
    width: 100%;
    margin-bottom: 20px;
}

table.notely-table > thead th {
    border-bottom: 1px solid #ccc;
    padding: 4px;
    cursor: pointer;
    font-weight: bold;
    background-repeat: no-repeat;
    background-position: center right;
    text-align: left;
}

table.notely-table > tbody td {
    padding: 8px 4px;
}

table.notely-table.notely-table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #fbfbfb;
}

table.notely-table tbody tr.notely-comments_done td.notely-comments_text {
    text-decoration: line-through;
}

table.notely-table a:not(.btn) {
    color: #2e8aea;
}

table.notely-table .label {
    text-shadow: none;
    padding: 4px 6px;
    font-size: 12px;
}

table.notely-table .label-open {
    background-color: #D9D9D9;
}

table.notely-table .label-approved {
    background-color: #8CD0EC;
}

table.notely-table .label-pending {
    background-color: #F9AF82;
}

table.notely-table .label-done {
    background-color: #8ECF7F;
}

.notely-bold {
    font-weight: bold;
}

.notely-comments_action {
    
}

/*.notely-comments_action.done {
    color: #46a546 !important;
}

.notely-comments_action.delete {
    color: #9d261d !important;
}*/

.notely-clear-select i {
    color: #9d261d !important;
    cursor: pointer;
}

.notely-default {
    color: #b0b0b0;
    font-size: 12px;
}

.notely-tile {
    position: relative;
    margin: 5px 5px 10px 5px;
    border: 1px solid #dddddd;
    border-left: 0;
}

.notely-tile.notely-tile_root:after {
    content: "";
    background-color: #57b7e7;
    width: 5px;
    position: absolute;
    top: -1px;
    bottom: -1px;
    left: 0;
}

.notely-tile_content {
    padding: 15px;
}

.notely-btn-round {
    background: transparent;
    border-radius: 100%;
    padding: 0;
    width: 28px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    border-color: #dddddd;
    transition: all 100ms linear;
}

.notely-btn-round:hover,
.notely-btn-round:focus {
    background: #2e8aea;
    border-color: #2e8aea;
    color: #ffffff;
}